mixin navigation(modifier)
	+b(class='navigation_#{modifier}')&attributes(attributes)
		+e.UL(class='list_#{modifier}')
			+e.LI(class='item_#{modifier}')
				+e.A.link.link(href='works.html') Мои работы
			+e.LI(class='item_#{modifier}')
				+e.A.link.link(href='about.html') Обо мне
			+e.LI(class='item_#{modifier}')
				+e.A.link.link(href='blog.html') Блог
