mixin socials(modifier)
	+b(class='socials_#{modifier}')&attributes(attributes)
		+e.UL(class='list_#{modifier}')
			+e.LI(class='item_#{modifier}')
				+e.A.link._vk.link(href='https://vk.com/id268045389') vkontact
					+icon('vk', 31, 17)
			+e.LI(class='item_#{modifier}')
				+e.A.link._github.link(href='https://github.com/stakeout') github
					+icon('github', 26, 22)
			+e.LI(class='item_#{modifier}')
				+e.A.link._linkedin.link(href='') linkedin
					+icon('in', 24, 22)
